{% extends "base.html" %}
{% load static %}
{% block title %}{% endblock %}
{% block head_extra %}
{% endblock %}
{% block styles %}
{% endblock %}
{% block content %}
  <h3>
    {{ header }}
  </h3>
  {% if error == True %}
    <h4>
      {{ message }}
    </h4>
  {% else %}
    <h4>{{ message }}</h4>
    <div id="formBlock">
      {% for field in fields %}
        {% if field.type == 'text' %}
          <div class="form-group" for="{{ field.id }}">
            <label>{{ field.label }}</label>
            <input 
              id="{{ field.id }}"
              class="form-control"
              type="text"
              value="{{ field.value }}"
              placeholder="{{ field.placeholder }}"/>
          </div>
        {% endif %}
        {% if field.type == 'checkbox' %}
          <div class="form-check" for="{{ field.id }}">
            <input 
              id="{{ field.id }}"
              class="form-check-input"
              type="checkbox"
              value="{{ field.value }}"
            />
            <label class="form-check-label" for="{{ field.id }}">{{ field.label }}</label>
          </div>
        {% endif %}
        {% if field.type == 'select' %}
          <div class="form-group" for="{{ field.id }}">
            <label>{{ field.label }}</label>
            <select class="form-select" id="{{ field.id }}">
              {% for option in field.options %}
                <option
                  value="{{ option.value }}" 
                  {% if option.value == field.value %}
                    selected="selected"
                  {% endif %}
                >
                  {{ option.label }}
                </option>
              {% endfor %}
            </select>
          </div>
        {% endif %}
      {% endfor %}
    </div>
    <button type="submit" class="btn btn-primary" id="saveButton">Save</button>
    {% if index != 'new' %}
      <button 
        type="submit" 
        class="btn btn-danger" 
        id="deleteButton" 
        data-toggle="modal" 
        data-target="#deleteModal"
      >
        Delete
      </button>
    {% endif %}
    <div class="spinner-border" role="status" id="loadingSpinner">
      <span class="sr-only">Loading...</span>
    </div>
    <div id="saveError">
      Error trying to save image configuration
    </div>
    <div class="modal" role="dialog" id="deleteModal">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Confirm Image Delete</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>Are you sure you wish to delete {{ delete_confirmation }}?</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" id="confirmDelete" data-dismiss="modal">Delete</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          </div>
        </div>
      </div>
    </div>
  {% endif %}
{% endblock %}
{% block scripts %}
  {% block callbacks %}
  {% endblock %}
  <script>
    function getFormData() {
      const formData = { }
      $("#formBlock input,#formBlock select").each(
        (index, input) => {
          const $input = $(input);
          const id = $input.attr('id');
          formData[id] = $input.val();
        }
      )
      return formData;
    }

    function saveSuccess(data, textStatus, jqXHR) {
      if (saveRedirect) {
        saveRedirect(data, textStatus, jqXHR);
      }
    }


    function saveFailure(jqXHR, textStatus, errorThrown) {
      // Upon failing to save or delete an item, show the error
      $("#saveError").show();
    }

    function runValidation() {
      let valid = true;
      const formData = getFormData();
      if (validate) {
        valid = validate(formData);
      }
      $("#saveButton").prop("disabled", !valid);
    }

    function saveImage() {
      $.ajax(
        "{{ api }}",
        {
          method: 'POST',
          headers: {'X-CSRFToken': '{{ csrf_token }}'},
          data: getFormData(), 
          success: saveSuccess,
          error: saveFailure
        }
      )
    }

    function deleteItem() {
      $.ajax(
        "{{ api }}",
        {
          method: 'DELETE',
          headers: {'X-CSRFToken': '{{ csrf_token }}'},
          data: getFormData(), 
          success: saveSuccess,
          error: saveFailure
        }
      )
    }

    $(document).ajaxSend(function() {
      // Before sending any ajax calls, show the loading spinner and disable buttons
      $("#loadingSpinner").show();
      $("#saveError").hide();
      $("#deleteButton").prop("disabled", true);
      $("#saveButton").prop("disabled", true);
    });

    $(document).ajaxStop(function() {
      // After sending ajax calls, hide the loading spinner and enable buttons
      $("#loadingSpinner").hide();
      $("#deleteButton").prop("disabled", false);
      $("#saveButton").prop("disabled", false);
    })

    $(document).ready(function() {
      // Bind validation function for input changes
      $("#formBlock input,#formBlock select").change(runValidation);
      $("#formBlock input,#formBlock select").keyup(runValidation);

      // Hide loading spinner and errors
      $("#loadingSpinner").hide();
      $("#saveError").hide();

      // Set initial state of submit button to disabled
      $("#saveButton").prop("disabled", true);

      // Bind callbacks to buttons
      $("#saveButton").click(saveImage);
      $("#confirmDelete").click(deleteItem);

      // Run validation once
      runValidation();
    });
  </script>
{% endblock %}
