{% extends "base.html" %}
{% block content %}
<div>
  <a href="{% url 'groups:index' %}">&lt;&lt;&nbsp;Back to User Groups</a>
</div>
{% if error == True %}
<div class="alert alert-danger" role="alert">
  {{ message }}
</div>
{% else %}
  <h3>User Group {{ group.group_name }} </h3>
  <div>
    <button 
      type="submit" 
      class="btn btn-secondary" 
      id="newGroupButton" 
      data-toggle="modal" 
      data-target="#groupNameModal"
    >
      Rename
    </button>
    <button
      type="submit"
      class="btn btn-danger"
      data-toggle="modal" 
      data-target="#deleteModal"
    >
      Delete
    </button>
  </div>
  <br />
  <div>
    <h5>
      Users
    </h5>
    {% if group.user|length > 0 %}
      <table border=1 class="table">
        <tbody>
          {% for user in group.user %}
            <tr>
              <td>
                <a href="{% url 'groups:user' group=group.group_name index=forloop.counter0 %}">{{ user }}</a>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% else %}
      <div>
        <i>No users</i>
        <br />
      </div>
    {% endif %}
    <div>
      <a
        class="btn btn-primary"
        href="{% url 'groups:user' group=group.group_name index='new'%}">+ Add User</a>
    </div>
  </div>
  <br />
  <div>
    <h5>Images</h5>
    {% if group.images|length > 0 %}
      <table border=1 class="table">
        <thead>
          <tr>
            <th>Display Name</th>
            <th>Image Name</th>
          </tr>
        </thead>
        <tbody>
          {% for image in group.images %}
            <tr>
              <td>
                <a href="{% url 'groups:images' group=group.group_name index=forloop.counter0 %}">
                  {{ image.display_name }}
                </a>
              </td>
              <td>
                {{ image.name }}
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% else %}
      <div>
        <i>No images</i>
        <br />
      </div>
    {% endif %}
    <div>
      <a
        class="btn btn-primary"
        href="{% url 'groups:images' group=group.group_name index='new'%}">+ Add Image</a>
    </div>
  </div>
  <br />
  <div>
    <h5>Volume Mounts</h5>
    {% if group.volume_mounts|length > 0 %}
      <table border=1 class="table">
        <thead>
          <tr>
            <th>Mount Path</th>
            <th>Host Path</th>
          </tr>
        </thead>
        <tbody>
          {% for mount in group.volume_mounts %}
            <tr>
              <td>
                <a href="{% url 'groups:mounts' group=group.group_name index=forloop.counter0 %}">
                  {{ mount.mountPath }}
                </a>
              </td>
              <td>
                {{ mount.path }}
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% else %}
      <div>
        <i>No volume mounts</i>
        <br />
      </div>
    {% endif %}
    <div>
      <a
        class="btn btn-primary"
        href="{% url 'groups:mounts' group=group.group_name index='new'%}">+ Add Volume Mount</a>
    </div>
  </div>
{% endif %}
{% endblock %}
{% block scripts %}
{% include "groups/group_name.html" %}
<div class="modal" role="dialog" id="deleteModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Confirm User Group Delete</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Are you sure you wish to delete user group <b>{{ group.group_name }}</b>?</p>
      </div>
      <div class="modal-footer">
        <div class="spinner-border" role="status" id="deleteGroupLoadingSpinner">
          <span class="sr-only">Deleting user group...</span>
        </div>
        <div id="deleteGroupError">
          Error trying to delete group
        </div>
        <button type="button" class="btn btn-danger" id="confirmDelete" data-dismiss="modal">Delete</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>
<script>
  function deleteSuccess(data, textStatus, jqXHR) {
    $("#deleteGroupError").hide();
    $("#deleteGroupLoadingSpinner").show();
    window.location.assign("{% url 'groups:index' %}");
  }

  function deleteFailure(jqXHR, textStatus, errorThrown) {
    // Upon failing to save or delete an item, show the error
    $("#deleteGroupError").show();
    $("#deleteGroupLoadingSpinner").hide();
  }

  function deleteGroup() {
    $("#deleteGroupLoadingSpinner").show();
    $("#deleteGroupError").hide();
    $("#confirmDelete").attr('disabled', true);
    $.ajax(
      "{% url 'groups:delete_group' %}",
      {
        method: 'POST',
        headers: {'X-CSRFToken': '{{ csrf_token }}', 'Content-Type':'application/json'},
        data: JSON.stringify({ 'group': '{{ group.group_name }}' }), 
        success: deleteSuccess,
        error: deleteFailure
      }
    )
  }

  $("#deleteGroupLoadingSpinner").hide();
  $("#deleteGroupError").hide();
  $("#confirmDelete").click(deleteGroup);
</script>
{% endblock %}
